
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/14.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>넌 안녕하니</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  소노 아야코</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  책읽는고양이</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b49</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/117648712')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=311907915')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>아쿠타가와상 후보에 오르면서 문단에 데뷔한 일본의 소설가 소노 아야코의 에세이.</strong></p>
                    <p> 이 책은 일상의 고단함과 문득문득 찾아오는 상실감을 겪는, 너무도 성실히 살아온 ‘나’에게 안부를 물어,</p>
                    <p> 나를 직시할 수 있도록 이끈다. 내면으로부터 차오르는 공감 속에 마음의 힘을 채운다</p>
                    
                    
                </div>
            </div>
            
</body>

</html>