
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/3.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>완득이</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  김려령</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  창비</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b38</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/2849279')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=310565441')"target="_blank">               
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>집도 가난하고 공부도 못하지만 싸움만큼은 누구에게도 지지 않는 피 끓는 열일곱 청춘 도완득.</strong></p>
                    <p> 카바레 춤꾼으로 일하다가 보따리 장사꾼으로 나서게 된 ‘난쟁이’ 아버지와 옥탑방에서 살지만 절대 기죽지 않던 완득이의 인생은</p>
                    <p> 괴짜 선생 똥주의 등장으로 한순간에 꼬이기 시작한다.</p>       
                    
                    
                </div>
            </div>
            
</body>

</html>