
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/7.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>당신의 이름을 지어다가 며칠은 먹었다</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  박준</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  문학동네</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b42</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/8150462')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=21706347&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>2008년 ‘젊은 시의 언어적 감수성과 현실적 확산 능력을 함께 갖췄다’는 평을 받으며 『실천문학』으로 등단한 박준 시인의 첫 시집이 출간되었다.</strong></p>
                    <p> 시인은 당시 한 인터뷰에서 “촌스럽더라도 작고 소외된 것을 이야기하는 시인이 되고 싶어요. 엄숙주의에서 해방된 세대의 가능성은 시에서도 무한하다고 봐요”라 말한 바 있다.</p>
                    <p> 그렇게 ‘작고 소외된’ 것들에 끝없이 관심을 두고 탐구해온 지난 4년, 이제 막 삼십대에 접어든 이 젊은 시인의 성장이 궁금하다.</p>
                    <p> 모름지기 성장이란 삶의 근원적인 슬픔을 깨닫는 것일 터, 이번 시집에 이 세계를 받아들이고 살아간다는 것, 그리고 그 안에서 마주하는 죽음의 순간들에 대한 사유가 짙은 것은, 박준 시인의 깊어져가는 세계를 증거할 것이다.</p>
                    
                </div>
            </div>
            
</body>

</html>