
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/13.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>탐조일기</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  삽사롱</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  카멜북스</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b48</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/117662283')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=311966727&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>조류의 생태, 서식지 등을 관찰하고 탐색하는 취미 ‘탐조’에 대해 이야기하는 귀여운 만화 『탐조일기』가 출간되었다.</strong></p>
                    <p> 도심 속 공원이나 하천에서 새를 관찰하는 젊은 탐조인이 늘어나고 있는 요즘, 새에 진심인 20대 여성 탐조인이 탐조의 세계에 빠져드는 과정을 찬찬히 담았다.</p>
                    <p> 새를 관찰하며 우리를 둘러싼 자연을 감각하게 되는 이 이야기는 누구에게나 재미있고 유용할 것이다</p>
                    
                    
                </div>
            </div>
            
</body>

</html>