
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/8.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>윤동주 전 시집 하늘과 바람과 별과 시</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  윤동주</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  스타북스</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b43</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/107487179')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=289183005&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>2022년 윤동주 서거 77주년과 탄생 105주년을 맞아 새롭게 편집한 『윤동주 전 시집 하늘과 바람과 별과 시』</strong></p>
                    <p> 는 윤동주 시인의 작품 전체를 비롯해 발문 및 후기까지를 모두 발굴하여 한 권에 담은 유일한 시집이다.</p>
                        
                    
                </div>
            </div>
            
</body>

</html>