
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/17.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>옹정제</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  미야자키 이치사다</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  이산</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b52</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/182361')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=263632&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>당대 최고의 역사학자 미야자키는 「주비유지」라는 자료를 통해 '세계에서 가장 양심적인 독재군주' 옹정제를 박진감 넘치게 그려간다.</strong></p>
                    <p> 이 책은 "천하가 다스려지고 다스려지지 않고는 나 하나의 책임.</p>
                    <p> 이 한몸을 위해 천하를 고생시키는 일은 하지 않으리"라 호언장담하는 옹정제의 전기이자 근세 중국의 관료제, 재정, 재판, 풍속을 이해하는 역사서이다.</p>

            
                </div>
            </div>
            
</body>

</html>