
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/10.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>검은 머리 짐승 사전</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  신이인</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  민음사</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b45</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/117356364')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=310564313')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>2021년 《한국일보》 신춘문예에 당선되며 작품활동을 시작한 신이인의 첫 시집 『검은 머리 짐승 사전』이 ‘민음의 시’ 시리즈로 출간되었다.</strong></p> 
                    <p> 잘못된 장소에 불시착한 채로 시작하는 시들은 아름답지도 매끄럽지도 않은 ‘검은 머리 짐승’들을 얽히고설킨 채로 늘어놓고 그 엉망진창을 즐겁게 유희한다.</p>       
                    
                    
                </div>
            </div>
            
</body>

</html>