
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/11.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>지구를 쓰다가</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  최우리</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  한겨레출판사</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b46</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/118397909')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=314834009&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>『지구를 쓰다가』는 한국 언론인 최초로 세계적인 환경운동가 ‘그레타 툰베리’를 인터뷰하고, 동물권 단체 ‘케어’ 전 대표의 안락사</strong></p>
                    <p> 논란을 최초로 보도하며 주목받은 최우리 기자의 첫 환경 에세이이다.</p>
                    <p> ‘자타공인 환경 덕후’로서 일상에서 겪는 고민과 혼란스러운 마음을 고백하듯 담아내 같은 고민을 하는 환경 덕후들에게 공감과 위로의 메시지를 전한다.</p>
                    
                    
                </div>
            </div>
            
</body>

</html>