
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/19.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>부분과 전체</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  베르너 카를 하이젠베르크</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  서커스출판상회</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b54</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/119420682')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=318172944')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>『부분과 전체』는 ‘양자역학을 창시한 공로’로 노벨 물리학상을 수상한 베르너 하이젠베르크의 학문적 자서전이다.</strong></p>
                    <p> 한 과학자의 학문적 이력을 넘어 원자물리학의 황금시대에 대한 일급 기록이기도</p>
                    <p> 한 이 책에는 원자라는 미시 세계를 이해하는 데 혁명을 일으킨 양자역학의 발전에 참여한 수많은 천재들의 캐릭터와 일화가 밀도 높게 기록되어 있다.</p>
                   
                    
                    
                </div>
            </div>
            
</body>

</html>