
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/9.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>시지프 신화</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  알베르 까뮈</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  민음사</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b44</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/29074412')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=86074428&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>민음사 세계문학전집 343번으로 새롭게 출간된 『시지프 신화』는 카뮈가 첫 작품 『이방인』과 같은 해에 발표한 작품으로, 집필은 『이방인』보다 먼저 시작했다.</strong></p>
                    <p> 이 작품은 그의 문학적 기반이 되는 사상의 단초를 그리스 신화의 시시포스 이야기로 풀어 나간 철학 에세이로,</p>
                    <p> 소설 『이방인』, 희곡 「칼리굴라」와 함께 ‘부조리 3부작’을 이룬다.</p>       
                    
                </div>
            </div>
            
</body>

</html>