
<%-include('../header.ejs')%>

<body style="background-color: honeydew;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <span style="margin-left: 5%;">
        <h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
    </div>
    <hr>
    <div style="display: flex; align-items: center;">
      <img src="/2.jpeg" alt="Image" style="margin-right: 5%; margin-left: 5%; margin-top: 5vh;">
      <div style="margin-right: 5%;">
        <h2>리스본행 야간열차</h2>
        <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  파스칼 메르시어 (페터 비에리)</span></p>
        <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  비채 </p>
        <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  소설/시/희곡</p>
        <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b37</span></p>
        <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/116224054')"target="_blank">
        <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=306989402')"target="_blank">    
        <h2>책 소개</h2>
        <hr>
        <p><strong>단조로운 바퀴 소리, 덜컹거리는 사물들… 삶에 회의를 느끼고 충동적으로 올라탄 열차가 데려다준 도시 리스본.</strong></p>
        <p> 경사진 골목길을 달리는 오래된 전차와 낯선 언어를 헤집고 만난 새로운 사람들. 파스칼 메르시어의 『리스본행 야간열차』가 비채에서 새롭게 출간되었다.</p>
        <p> 독일어권 국가에서만 200만 독자의 사랑을 받고 30개 이상 언어로 번역되었으며,</p>
        <p> 한국에선 2007년 처음 출간된 이후 지금까지도 꾸준히 회자되는 현대고전으로 자리 잡은 대작.</p>
      </div>
    </div>
  </body>

</html>
