
<%-include('../header.ejs')%> 
<body style="background-color: honeydew;">
        
        <div style="display: flex; align-items: center; justify-content: space-between; ">
                <span style="margin-left: 200px;"><h2>도서상세정보</span><span style="color: gainsboro; margin-left: 10px;">Detail Information</span> </h2>
                
            </div>
             <hr>
        <div style="display: flex; align-items: center; " >
                <img src="/16.jpeg" alt="Image" style="float: left; margin-right: 100px; margin-left: 230px; margin-top: 50px; ">
                <div>
                    <h2>슈독</h2>
                    <p><strong>저자</strong><span style="color: grey; margin-left: 37px;">|  필 나이트</span></p>
                    <p><strong>출판사</strong><span style="color: grey; margin-left: 21px;">|  사회평론</p>
                    <p><strong>장르</strong><span style="color: grey; margin-left: 37px;">|  에세이/인물</p>
                    <p><strong>등록번호</strong><span style="color: grey; margin-left: 5px;">|</span><span style="color: coral; margin-left: 6px;">b51</span></p>
                    <img class="absolute" src="/yes24.jpeg" style="margin-left:0px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.yes24.com/Product/Goods/32526726')"target="_blank">
                    <img class="absolute" src="/aladin.jpeg" style="margin-left:25px; margin-top:15px;" width="70" height="70" onclick="window.open('https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=93218303&start=slayer')"target="_blank"> 
                    <h2>책 소개</h2>
                    <hr>
                    <p><strong>‘신발 연구에 미친 사람’이란 은어인 『슈독Shoe Dog』은 가진 것이라곤 무모한 열정과 끈기밖에 없었던 24살 청년,</strong></p>
                    <p> 필 나이트가 일본 운동화를 수입해 팔던 보따리 장사를 세계적 브랜드 나이키로 일궈내기까지의 과정을 다룬,</p>
                    <p> 최초의 자서전이자 나이키의 역사서이다. 지금의 나이키를 있게 한 ‘신발에 미친 괴짜’들과의 이야기를 솔직하고 세세하게 회고한다.</p>
                    
                    
                </div>
            </div>
            
</body>

</html>